
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}

/* Cabeçalho */
header.cabecalho {
    width: 100%;
    min-height: 450px;
    max-height: 85vh;
    background-image: url("../imagens/menuPrincipal.jpg");
    background-size: 100% 100%; /* 1° largura - 2° altura */
    background-repeat: no-repeat;
    text-align: center; 
}
.botaoFechar, .botaoExibir {
    float: right;
    height: 70px;
    width: 80px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #ffffff;
    margin: 5% 6%;
    border: 1.5px solid #c80303;
    font-size: 1.5em;
    cursor: pointer;
}
.botaoFechar:hover, .botaoExibir:hover {
    border: 2px solid #c80303;
}
.titulos {
    width: 95%;
    height: 20%;
    padding-top: 30vh;
    margin: auto;
}
.titulos h1 {
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #ffffff;
    font-size: 2.8em;
}
.titulos h2 {
    color: #f1e3e3;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}
nav.menuPrincipal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Josefin Sans', sans-serif;
}
.menuPrincipal ul {
    max-height: 100%;
    width: 100%;
    margin: 80px auto 0 auto;
}
.menuPrincipal li {
    padding: 12%;
}
.menuPrincipal a {
    color: #ffffff;
    text-decoration: none;
    padding: 10% 25%;
}
.menuPrincipal a:hover {
    background-color: #0f4e50;
}

/* Containner */
main.conteudoPrincipal {
    width: 100%;
    min-height: 100%;
}
/* Artigo Mensagem */
article.mensagem {
    width: 100%;
    min-height: 450px;
    max-height: 860px;
    text-align: center;
}
.imagensLaterais {
    display: none;
}
.cabecalhoMensagem {
    width: 100%;
    height: 90px;
    padding-top: 5%;
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #c54141;
    font-size: 1.6em;
}
.textoMensagem {
    width: 80%;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    color: #626060;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}
.rodapeMensagem {
    width: 95%;
    height: 160px;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color: #645757;
    padding-top: 5%;
    font-size: 1.4em;
}
/*Artigo Tabela */
article.tabela {
    width: 100%;
    height: 470px;
    background-image: url('../imagens/tabelaPrecos.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tabelaPrecos {
    width: 60%;
    height: 70%;
    color: #ffffff;
    font-size: 1.3em;
}
.tabela h2 {
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #202020;
    font-size: 2.0em;
    padding-top: 5%;
    text-align: center;
}
.btnCardapio {
    width: 80%;
    height: 40px;
    margin-left: 15%;
    margin-top: 30px;
    border: 2px solid #dbd6d6;
    color: #ffffff;
    text-align: center;
    padding: 4% 25%;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}
.btnCardapio:hover {
    border: 3px solid #444040;
    color: #444040;
    font-size: 1.3em;
}

/* Artigo Silde */
article.slide {
    width: 100%;
    max-height: 750px;   
    text-align: center;
}
.slide h2 {
    padding-top: 7%;
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #c54141;
    font-size: 2.3em;
}
.slide p {
    color: #4b4646;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 3%;
}
.sliderImagens {
    width: 100%;
    max-height: 750px;
    margin-top: 5%;
}
.sliderImagens img {
    width: 95%;
    height: 427px;
    border: 1px #0f4e50 solid;
    border-radius: 10px;
}
/* ajustar os botões nas medias queries pois no mobile eles serao none 

.btn {
    position: absolute;
    top: 270%;
    width: 40px;
    height: 30px;
    border-radius: 10px;
}
.btnMenos {
    left: 5%;
}
.btnMais {
    right: 5%;
}
*/
.btn {
    display: none;
}