* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}


/* CABEÇALHO */
header.cabecalho {
    width: 100%;
    min-height: 500px;
    max-height: 95vh;
    background-image: url("../dest-img/menuPrincipal.jpg");
    background-size: 100% 100%; /* 1° largura - 2° altura */
    background-repeat: no-repeat;
    text-align: center; 
}
.botaoFechar, .botaoExibir {
    float: right;
    height: 70px;
    width: 80px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #ffffff;
    margin: 5% 6%;
    border: 1px solid #c80303;
    font-size: 1.5em;
    cursor: pointer;
}
.botaoFechar:hover, .botaoExibir:hover {
    border: 2px solid #c80303;
}
.titulos {
    width: 95%;
    height: 20%;
    padding-top: 200px;
    margin: auto;
}
.titulos h3 {
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #ffffff;
    font-size: 3.2em;
}
.titulos h2, h1 {
    color: #f1e3e3;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}
.titulos h1 a {
    position: absolute;
    top: 10%;
    left: 2%;
    color: #ffffff;
    text-decoration: none;
}

@keyframes menu{
    from {width: 0;}
    to {width: 100%;}
}

nav.menuPrincipal {
    display: none;
    width: 100%;
    min-height: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Josefin Sans', sans-serif;
    animation: menu 1s; 
}
.menuPrincipal ul {
    margin-top: 95px;
    min-height: 400px;
}
.menuPrincipal li {
    padding:35px;
}
.menuPrincipal a {
    color: #ffffff;
    text-decoration: none;
    padding: 30px 20px;
    font-size: 1.3em;
}
.menuPrincipal a:hover {
    background-color: #0f4e50;
}

/* CONTAINNER */
main.containner {
    width: 100%;
    min-height: 100vh;
}

/* SESSÃO LOCALIDADE */
section.localidade {
    width: 100%;
    height: 680px;
}

/* ARTIGO MAPA */
article.mapa {
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 30px;
    border: 1px #3f3e3e solid;
    border-radius: 1%;
}

/* ARTIGO INFORMAÇÕES */
article.informacoes {
    width: 85%;
    height: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
button.icone {
    border: none;
    color: #f33f3f;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
    display: inline-block;
    font-size: 1.2em;
}
.titulo {
    padding-left: 10px;
    display: inline-block;
    font-size: 1.2em;
    color: #c54141;
    font-family: 'Josefin Sans', sans-serif;
}
.texto {
    font-family: 'Josefin Sans', sans-serif;
    color: #838080;
    margin-top: 5px;
    padding-left: 30px;
}

/* SESSÃO FORMULARIO */
section.formulario {
    width: 100%;
    height: 700px;
}
.formulario h2 {
    color: #5e3131;
    font-family: 'Great Vibes', 'Arial',cursive;
    font-size: 2.1em;
    text-align: center;
}
form {
    width: 98%;
    margin: auto;
    padding-top: 10px;
}   
form p {
    margin-top: 30px;
    padding-left: 2%;
}
form label {
    display: none;

}
label#mensagem {
    display: block;
}
form input {    
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px #cacfcf solid;
    padding: 1%;
    color: #665f5f;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}
form input:focus {
    border: 3px #cacfcf solid;
}
form textarea {
    width: 95%;
    margin-top: 5px;
    padding: 10px 0 0 5px;
    color: #665f5f;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    border: 1px #cacfcf solid;
    font-size: 1.2em;
}
form textarea:focus {
    border: 3px #cacfcf solid;
}
form button {
    width: 60%;
    height: 50px;
    float: right;
    margin-top: 20px;  
    margin-right: 15px;
    border-radius: 10px; 
    border: 1px #550404 solid;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}


/* RODAPÉ */
footer.rodape {
    width: 100%;
    min-height: 85px;
    max-height: 120px;
    color: #edecf1;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
}
.rodape p {
    margin-bottom: 1%;
}
.iconsRodape {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 8px;
}

/* VERSÃO TABLET */
@media screen and (min-width: 500px) and (max-width: 800px){
    /* CABEÇALHO */
    .cabecalho {
        min-height: 300px;
        max-height: 300px;
    }
    .titulos h1 {
        font-size: 1.5em;
    }
    .titulos h2 {
        font-size: 1.3  em;
    }
    .titulos h3 {
        font-size: 3.7em;
    }
    .botaoFechar, .botaoExibir {
        height: 80px;
        width: 85px;
        font-size: 1.8em;
    }

    /*MENU*/
    .menuPrincipal ul {
        margin-top: 120px;
    }
    .menuPrincipal li {
        padding: 40px;
    }
    .menuPrincipal a {
        padding: 30px 80px;
    }

    /* SESSÃO LOCALIDADE */
    section.localidade {
        height: 660px;
    }

    /* ARTIGO MAPA */
    article.mapa {
        margin-top: 8%;
        height: 50%;
    }

    /* ARTIGO INFORMAÇÕES */
    article.informacoes {
        padding-top: 30px;
        font-size: 1.1em;
    }

    /* SESSÃO FORMULARIO */ 
    section.formulario {
        margin-top: 15px;
        height: 700px;
    }
    form {
        width: 80%;
        margin: auto;
    }
    .formulario h2 {
        font-size: 2.3em;
    }
    form input {
        width: 80%;
        height: 45px;
        margin-left: 8px;
    }
    form button {
        width: 40%;
        height: 60px;
        margin-right: 10%;
    }
    form textarea {
        width: 100%;
    }

    /* RODAPÉ */
    footer.rodape {
        font-size: 1.1em;
    }
}

/* VERSÃO DESKTOP */
@media screen and (min-width: 800px){

    /* CABEÇALHO */
    .cabecalho {
        min-height: 300px;
        width: 100%;
    }
    .botaoFechar, .botaoExibir {
        display: none;
    }
    .titulos {
        position: absolute;
        top: 220px;
        left: auto;
        padding: 0;
    }
    .titulos h1 a{
        font-size: 1.2em;
        float: left;
        position: initial;
        float: left;
        padding-left: 2%;
        margin-top: -200px;
    }
    .titulos h2 {
        font-size: 1.5em;
    }
    .titulos h3 {
        font-size: 5em;
        margin-top: -15px;
    }
    nav.menuPrincipal {
        display: inline;
        position: unset;
    }
    .menuPrincipal ul {
        margin: 0;
        float: right;
        margin-right: 9%;
        margin-top: 5%;
    }
    .menuPrincipal li {
        display: inline-block;
        padding: 0; 
        margin-left: 22px;
    }
    .menuPrincipal a {
        padding: 0;
        font-size: 1.1em;
    }
    .menuPrincipal a:hover {
        font-weight: bolder;
        background-color: rgba(0, 0, 0, .1);    
    }

    /* SESSÃO LOCALIDADE */
    section.localidade{
        height: 410px;
    }

    /* ARTIGO MAPA */
    article.mapa {
        width: 50%;
        height: 80%;
        display: inline-block;
        margin: 4% 0 0 5%;
    }

    /* ARTIGO INFORMAÇÕES */
    article.informacoes {
        width: 40%;
        height: 70%;
        margin: initial;
        float: right;
        font-size: 1.2em;
        padding-top: 30px;
        margin-right: 20px;
    }

    /* IMAGEM ENTRE AS DUAS SEÇÕES*/
    div.imagemXicara {
        width: 200px;
        height: 133px;
        margin: 20px auto 30px auto;
        background-image: url("../dest-img/imagemBorda.jpg");
    }

    /* SESSÃO FORMULARIO */
    section.formulario {
        height: 780px;
    }
    .formulario h2 {
        font-size: 2.9em;
    }
    form {
        width: 80%;
        margin: auto;
        padding-left: 5%;
    }
    form p{
        margin-top: 35px;
    }
    form input {
        width: 70%;
        height: 55px;
        margin-left: 12px; 
        font-size: 1.1em;
        border: 2px #cacfcf solid;
    }
    form textarea {
        border: 2px #cacfcf solid;
    }
    form button {
        width: 30%;
        height: 70px;
        font-size: 1.2em;
        margin: 25px 30% 0 0;
        border: 2px #550404 solid;
    }

    /* RODAPÉ */
    footer.rodape {
        font-size: 1.1em;
        padding-top: 30px;
    }
}