
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
}

/* CABEÇALHO */
header.cabecalho {
    width: 100%;
    min-height: 500px;
    max-height: 95vh;
    background-image: url("../dest-img/menuPrincipal.jpg");
    background-size: 100% 100%; /* 1° largura - 2° altura */
    background-repeat: no-repeat;
    text-align: center; 
}
.botaoFechar, .botaoExibir {
    float: right;
    height: 70px;
    width: 80px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #ffffff;
    margin: 5% 6%;
    border: 1.5px solid #c80303;
    font-size: 1.5em;
    cursor: pointer;
}
.botaoFechar:hover, .botaoExibir:hover {
    border: 2px solid #c80303;
}
.titulos {
    width: 95%;
    height: 20%;
    padding-top: 200px;
    margin: auto;
}
.titulos h1 {
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #ffffff;
    font-size: 2.8em;
}
.titulos h2 {
    color: #f1e3e3;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}
@keyframes menu{
    from {width: 0;}
    to {width: 100%;}
}

nav.menuPrincipal {
    display: none;
    width: 100%;
    min-height: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Josefin Sans', sans-serif;
    animation: menu 1s; 
}
.menuPrincipal ul {
    margin-top: 95px;
    min-height: 400px;
}
.menuPrincipal li {
    padding:35px;
}
.menuPrincipal a {
    color: #ffffff;
    text-decoration: none;
    padding: 30px 20px;
    font-size: 1.3em;
}
.menuPrincipal a:hover {
    background-color: #0f4e50;
}

/* CONTAINNER */
main.conteudoPrincipal {
    width: 100%;
    min-height: 100%;
}
/* ARTIGO MENSAGEM */
article.mensagem {
    width: 100%;
    min-height: 300px;
    max-height: 860px;
    text-align: center;
}
.imagensLaterais {
    display: none;
}
.cabecalhoMensagem {
    width: 100%;
    height: 90px;
    padding-top: 8%;
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #c54141;
    font-size: 1.6em;
}
.textoMensagem {
    width: 80%;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    color: #867d7d;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    padding-top: 5%;
}
.rodapeMensagem {
    width: 95%;
    height: 160px;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color: #645757;
    padding-top: 7%;
    font-size: 1.4em;
}

/*ARTIGO TABELA */
article.tabela {
    width: 100%;
    height: 580px;
    background-image: url('../dest-img/tabelaPrecos.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div.gambi {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.tabelaPrecos {
    max-width: 100%;
    height: 360px;
    color: #ffffff;
    font-size: 1.0em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 4% 0px 60px 6%;
    font-size: 1.2em;
}
.tabela h2 {
    font-family: 'Great Vibes', 'Arial',cursive;
    font-size: 2.3em;
    padding-top: 6%;
    text-align: center;
    color: #ffffff;
}
.le {
    width: 60%;
    padding-top: 4%;
}
.ld {
    padding-left: 2%;
    padding-top: 5%;
}
.ldb {
    font-size: 0.8em;
    margin-top: 5%;
    border-bottom: 0.5px solid #b3aeae;
}
.btnCardapio {
    border: 1px solid #eee5e5f1;
    color: #ffffff;
    text-align: center;
    padding: 4% 28%;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin: 0 10% 0 10%;
}
.btnCardapio:hover {
    border-color: #a59999;
    color: #a59999;
}

/* ARTIGO SLIDE */
article.slide {
    width: 100%;
    min-height: 520px;
    max-height: 780px;   
    text-align: center;
}
.slide h2 {
    padding-top: 7%;
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #c54141;
    font-size: 2.4em;
}
.slide p {
    color: #4b4646;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 3%;
}
.sliderImagens {
    width: 100%;
    min-height: 450px;
    max-height: 750px;
    margin-top: 5%;
}

.sliderImagens img {
    width: 95%;
    height: 427px;
    border: 1px #113536 solid;
    border-radius: 10px;
}
.btn {
    display: none;
}

/* RODAPE */
.rodape {
    width: 100%;
    height: 530px;
    background-color: black;
    text-align: center;
    color: #cac0c0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('../dest-img/rodape.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.gambRodape {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}
.informacoes {
    width: 100%;
    min-height: 80%;
    padding-top: 15%;
}
.informacoes h2 {
    font-family: 'Great Vibes', 'Arial',cursive;
    color: #c73002;
    font-size: 2.5em;
}
.informacoes p {
    padding-top: 20px;
    font-size: 1.2em;
}
.informacoes span {
    color: #ffffff;
    font-size: 1.1em;
}
.informacoes h3 {
    padding-top: 10%;
    color: #ffffff;
}
.endereco {
    padding-top: 10%;
    color: #ffffff;
    margin-bottom: 12%;
}
.contato {
    padding: 5% 22%;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
}
.formalidade {
    width: 100%;
    min-height: 20%;
    max-height: 35%;
    color: #adada9;
    background-color: #181717;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
.formalidade p {
    margin-bottom: 5px;
}

@media screen and (min-width: 520px) and (max-width: 800px) {
    /* CABEÇALHO */
    .titulos h1 {
        font-size: 3.4em;
    }
    .titulos h2 {
        font-size: 1.4em;
    }
    .botaoFechar, .botaoExibir {
        height: 70px;
        width: 80px;
        font-size: 1.8em;
    }
    /*MENU*/
    .menuPrincipal ul {
        margin-top: 120px;
    }
    .menuPrincipal li {
        padding: 40px;
    }
    .menuPrincipal a {
        padding: 30px 80px;
    }
    /* ARTIGO MENSAGEM */
    .mensagem {
        height: 400px;
    }
    .cabecalhoMensagem {
        font-size: 1.9em;
        height: 80px;
    }
    .textoMensagem {
        padding-top: 20px;
        font-size: 1.3em;
        font-weight: normal;
    }
    .rodapeMensagem {
        font-size: 1.6em;
        padding: 0;
        text-align: center;
    }

    /* ARTIGO TABELA */
    .tabela {
        font-size: 1.1em;
        min-height: 630px;
        max-height: 710px;
    }
    .tabelaPrecos {
        margin: 2% auto 10% auto;
        width: 80%;
    }
    .tabela h2 {
        font-size: 2.5em;
    }
    .le {
        width: 78%;
    }
    .btnCardapio {
        padding: 3% 23%;
        margin: 0 12% 0 19%;
        font-size: 1.3em;
    }

    /* ARTIGO SLIDE */
    .slide {
        height: 632px;
    }
    .slide h2 {
        font-size: 2.9em;
        padding-top: 5%;
    }
    .slide p {
        margin-top: 1%;
        font-size: 1.3em;
    }
    .sliderImagens img {
        border: 2px #113536 solid;
        border-radius: 10px;
        box-shadow: 9px 9px #dadad4;
    }

    /* RODAPÉ */
    .rodape {
        height: 600px;  
    }
    .informacoes {
        padding-top: 10%;
    }
    .informacoes h2 {
        font-size: 2.9em;
    }
    .informacoes p {
        font-size: 1.3em;
    }
    .informacoes h3 {
        padding-top: 7%;
    }
    .endereco {
        margin-bottom: 15%;
    }
    .contato {
        padding: 4% 18%;
        font-size: 1.5em;
    }
    .formalidade {
        padding-top: 40px;
        height: 20%;
    }
}
@media screen and (min-width: 800px) {
    /* CABEÇALHO */
    .cabecalho {
        height: 95vh;
        width: 100%;
    }
    .botaoFechar, .botaoExibir {
        display: none;
    }
    .titulos {
        position: absolute;
        top: 220px;
        left: auto;
        padding: 0;
    }
    .titulos h1 {
        font-size: 5.0em;
    }
    .titulos h2 {
        font-size: 1.6em;
        margin-top: -15px;
    }
    nav.menuPrincipal {
        display: inline;
        position: unset;
    }
    .menuPrincipal ul {
        margin: 0;
        float: right;
        margin-right: 9%;
        margin-top: 5%;
    }
    .menuPrincipal li {
        display: inline-block;
        padding: 0; 
        margin-left: 22px;
    }
    .menuPrincipal a {
        padding: 0;
        font-size: 1.1em;
    }
    .menuPrincipal a:hover {
        font-weight: bolder;
        background-color: rgba(0, 0, 0, .1);    
    }

    /* ARTIGO MENSAGEM */
    .mensagem{
        height: 460px;
    }
    .imagensLaterais {
        display: inherit;
        
    }
    .imgPao {
        float: left;
        width: 160px;
        padding-top: 7%;
        margin-left: -3%;
    }
    .imgGraosCafe {
        float: right;
        width: 190px;
    }
    .cabecalhoMensagem {
        font-size: 2.4em;
        margin-top: 0;
        padding-top: 3%;
    }
    .textoMensagem {
        padding-top: 60px;
        font-size: 1.7em;
        font-weight: normal;
    }
    .rodapeMensagem {
        font-size: 2.0em;
        padding-top: 35px;
        text-align: center;
    }

    /*ARTIGO TABELA */
    article.tabela {
        height: 730px; 
        font-size: 1.2em;
    }
    div.gambi {
        background-color: rgba(0, 0, 0, .7);
    }
    .tabela h2 {
        font-size: 2.8em;
        padding-top: 4%;
    }
    .tabelaPrecos {
        margin: 0 auto 5% auto;
        height: 58%;
        width: 80%;  
        padding-left: 7%;              
    }
    .le {
        width: 70%;
    }
    .ld {
       padding-left: 5%;
    }
    .ldb {
        padding: 1% 0 1% 0;
        font-size: 0.7em;
    }
    .btnCardapio {
        padding: 2% 12%;
        margin-left: 34%;  
    }
    /*ARTIGO SLIDE*/
    .slide {
        height: 640px;
    }
    .slide h2 {
        padding-top: 3%;
        font-size: 3.3em;
    }
    .slide p {
        margin: 0;
        font-size: 1.6em;
    }
    .sliderImagens {
        width: 70%;
        height: 570px;
        margin: 1% auto;
    }

    /* RODAPÉ */
    .informacoes {
        width: 70%;
        height: 90%;
        padding-top: 3%;
        margin: auto;
    }
    .informacoes h2 {
        font-size: 3.0em;
    }
    .informacoes p {
        font-size: 1.4em;
    }
    .informacoes h3 {
        padding-top: 8%;
        font-size: 1.4em;
    }
    .endereco {
        margin-bottom: 9%;
    }
    .contato {
        padding: 3% 16%;
        font-size: 1.4em;
    }
    .formalidade {
        font-size: 1.1em;
        height: 10%;
    }
    .formalidade p {
        margin-bottom: 10px;
    }
}